body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.hero { /* Añade esta clase al contenedor del hero */
  flex-grow: 1;
  overflow-y: auto;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Estilos adicionales para el scrollbar, si es necesario */
.hero::-webkit-scrollbar {
  width: 8px;
}

.hero::-webkit-scrollbar-thumb {
  background-color: #1976D2;
  border-radius: 4px;
}

.hero::-webkit-scrollbar-track {
  background-color: #F0F0F0;
}
